@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	@apply font-sans;

	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	background: linear-gradient(
		-225deg,
		#4c3fff13 16%,
		#fa923015 100%,
		#ffbac318 100%
	);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
